<html>
    <head>
        <title>Story Index</title>
        <link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default_style.css') }}">
    </head>
    <body>
        <div class='back'>
            <a href="https://stories.ljpcool.com/"><img width=50px src="static\Back Arrow.png"></a>
        </div>
        <h1>Uh Oh Something Broke!</h1>
        <div class='text'>
            <p>Something broke internally(error 500). This is likely caused by you searching for a story that does not exist.</p>
        </div>
    </body>
</html>