<html>
    <head>
        <title>Story {{id}}</title>
        <link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default_style.css') }}">
    </head>
    <body>
        <div class='back'>
            <a href="{{base}}"><img width=50px src="static\Back Arrow.png"></a>
        </div>
        <h1>Story {{id}}</h1>
        <div class='text'>
            <pre>{{content}}</pre>
        </div>
    </body>
</html>